.form {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    background: linear-gradient(145deg, #c2c2c2, #a3a3a3);
    @media (max-width: 992px) {
        width: 300px;
    }
    @media (max-width: 768px) {
        width: 470px;
    }
    @media (max-width: 576px) {
        width: 100%;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @media (max-width: 768px) {
            //margin: 30px 0;
            flex-direction: column;
            justify-content: space-between;
        }
        hr {
            @media (max-width: 768px) {
                margin: 35px auto 35px auto;
                width: 300px;
            }    
            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }
    .first {
        margin-top: 0;
    }
    &__input, &__name {
        input {
            height: 36px;
            padding: 8px;
            width: 100%;
            border: solid 1.5px #414141;
            border-radius: 10px;
            background: none;
            &::placeholder {
                font-style: italic;
                color: grey;
            }
        }
    }
    &__input {
        width: 100%;
        margin-top: 15px;
        &:first-of-type {
            margin-top: 0;
        }
        @media (max-width: 992px) {
            margin-top: 10px;
        }
        textarea {
            min-height: 100px;
            padding: 10px;
            width: 100%;
            border: solid 1.5px #000;
            border-radius: 10px;
            background: none;
            &::placeholder {
                font-style: italic;
                color: grey;
            }
        }
        select {
            height: 35px;
            width: 100%;
            border: solid 1.5px #000;
            border-radius: 10px;
            background: none;
            color: #000;
            padding-left: 10px;
        }
    }
    &__name {
        display: flex;
        justify-content: space-between;
        width: 100%;
        input {
            width: 172px;
            @media (max-width: 992px) {
                width: 100%;
                margin-top: 15px;
            }
        }
        @media (max-width: 992px) {
            display: block;
        }
    }
    &__title {
        margin-bottom: 30px;
        @media (max-width: 768px) {
            font-size: 20px;
            margin-bottom: 18px;
        }
    }
    label {
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
    p {
        text-align:justify;
        @media (max-width: 576px) {
            font-size: 13px;
        }
    }
}

.error {
    &__style {
        margin-top: 7px;  
        color: #c63f3f;
        font-size: 13px; 
    }
    &__img {
        transition: opacity .5s;
        opacity: 0;
        width: 26px;
        position: absolute;
        top: 5px;
        right: 8px;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &__active {
        opacity: 1;
    }
}

.checkbox {
    margin: 15px 10px 0 0;
}

.input {
    position: relative;
}