.logout {
    &__wrapper {
        width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        background: linear-gradient(145deg, #c2c2c2, #a3a3a3);
        box-shadow: 0px 0px 20px black;
        text-align: justify;
        @media (max-width: 576px) {
            width: 100%;
        }
        h2 {
            @media (max-width: 576px) {
                font-size: 20px;
            }
        }
        p {
            line-height: 24px;
            @media (max-width: 576px) {
                font-size: 12px;
            }
        }
        a {
            margin-top: 5px;
            text-decoration: underline;
            &:hover {
                color: #404b41;
            }
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        button {
            width: 45%;
            @media (max-width: 576px) {
                font-size: 10px;
            }
        }
    }
}
